*{
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

body {
    font-family: system-ui;
    background: linear-gradient(45deg, hsl(185, 26%, 72%), hsl(224, 66%, 82%));
}

.nav {
    width: 85%;
    background-color: #5b84ee;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-radius: 25px;
    margin-top: 0.55%;
  }

  .nav > .nav-header {
    flex: 0.95;
    padding-left: 1rem;
  }
  .nav img{
    width:65px;
    float: left;
    border-radius: 50%;
    margin: 1%;
  }
  .nav > .nav-header > .nav-title {
    font-size: 22px;
    color: #fff;
    margin: 2%;
  }
  .nav > .nav-list {
    display: flex;
    gap: 2rem;
  }
  .nav > .nav-list > li {
    list-style-type: none;
  }
  .nav > .nav-list > li:hover{
    text-decoration: underline black 3px;
    font-weight: bold;
  
  }
  .nav > .nav-list > li a {
    text-decoration: none;
    color: #efefef;
    cursor: pointer;
  }
  .nav > #nav-check {
      display: none;
  }

  @media (max-width: 480px) {
    .nav {
      padding: 1rem;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      padding-top: 0.2rem;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-list {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      background-color: #6b76e7;
      height: 0;
      transition: all 0.3s ease-in;
      top: 40px;
      left: 0;
      overflow: hidden;
    }
    .nav > .nav-list > li {
      width: 100%;
      margin-top: 1.5rem;
    }
    .nav > #nav-check:checked ~ .nav-list {
      height:210px;
      border-radius:50px;
      width:80%;
    }
}

#content-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#why-practice-coding {
    margin-bottom: 20px;
}

#easy-level-questions {
    background-color: #f0f5f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#Set1 {
    font-size: 24px;
    margin-bottom: 10px;
    background-color: #f0f5f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#Set1>h3{
    border-bottom: dotted 3px dodgerblue;
    width:70px
}
#questions-description {
    margin-top: 20px;
}
#questions-description3 {
    margin-top: 20px;
}

#questions-description p {
    word-wrap: break-word;
    max-width: 100%;
    padding: 2%;
   
}
#show-questions-button {
    background-color: #5a92e1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#questions-container {
    display: none;
    margin-top: 20px;
}

#questions {
    background-color: #f0f5f9;
    padding: 10px;
    border-radius: 15px;
    margin: 0 auto;
    width: 75%;
    font-size: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#close-questions-button {
    background-color: #d43f00;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}
#closecButton, #closejavaButton, #closepythonButton{
    background-color: #d43f00;
    color: white;
    padding: 3px 7px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    float: right;

}
#Set2{
    font-size: 24px;
    margin-bottom: 10px;
    background-color: #f0f5f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#Set2>h3{
    border-bottom: dotted 3px dodgerblue;
    width:70px
}
#questions-description2 {
    margin-top: 20px;
}

#questions-description2 p {
    word-wrap: break-word;
    max-width: 100%;
    padding: 2%;
   
}

#show-questions-button2 {
    background-color: #5a92e1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#questions-container2 {
    display: none;
    margin-top: 20px;
}

#questions2 {
    background-color: #f0f5f9;
    padding: 20px;
    border-radius: 15px;
    margin: 0 auto;
    width: 75%;
    font-size: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#close-questions-button2 {
    background-color: #d43f00;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}


.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#close-iframe-button{
    float: left;
}
.cmnbtn{
    background-color: #0b60d7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.cmnbtn:hover{
    border-radius:30px;
    border-color:#d7dfeb;
    background-color:#031a3a;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#Set3 {
    font-size: 24px;
    margin-bottom: 10px;
    background-color: #f0f5f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#Set3>h3{
    border-bottom: dotted 3px dodgerblue;
    width:70px
}
#questions-description3 {
    margin-top: 20px;
}

#questions-description3 p {
    word-wrap: break-word;
    max-width: 100%;
    padding: 2%;
   
}
#show-questions-button3 {
    background-color: #5a92e1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#questions-container3 {
    display: none;
    margin-top: 20px;
}

#questions3 {
    background-color: #f0f5f9;
    padding: 10px;
    border-radius: 15px;
    margin: 0 auto;
    width: 75%;
    font-size: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#close-questions-button3 {
    background-color: #d43f00;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}
.outer-list {
    list-style-type: decimal;
  }
  
  .inner-list {
    list-style-type: lower-roman;
  }
  
#footer {
    background-color: #5a92e1;
    color: white;
    text-align: center;
    padding: 7px 0;
    border-radius: 20px;
}

#footer a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}
#footer img{
    width:25px;
    border-radius: 50%;
}
#footer #meimg{
    float: left;
    width: 105px;
    margin:1%;
}
#footer #meimg2{
    float:right;
    width: 100px;
    height: 90px;
    margin:1%;
    border-radius: 25%;
}
#footer img:hover{
    transform: translateY(-10px);
}
.moving-text {
    white-space: nowrap; /* Prevent the text from wrapping */
    overflow: hidden; /* Hide any overflowing text */
    font-size: 20px;
    animation: moveLeft 14s linear infinite; /* Apply the animation */
}

@keyframes moveLeft {
    0% { transform: translateX(100%);  }
    100% { transform: translateX(-100%); }
}
@media (max-width: 780px) {
    #Set1 p {
        font-size: 12px;
    }
    #Set2 p {
        font-size: 12px;
    }
    #Set3{
        margin-top: 25px;
    }
    #Set3 p {
        font-size: 12px;
    }
    #show-questions-button {
        width: 80px;
        font-size: 10px;
    }
    #show-questions-button2 {
        width: 80px;
        font-size: 10px;
    }
    #content-container {
        width: 90%;
    }
    #questions{
        font-size: 10px;
    }
    #questions2{
        font-size: 10px;
    }
    #questions3{
        font-size: 10px;
    }
    .cmnbtn{
        font-size: 10px;
        margin: 3%;
    }
    .moving-text{
        font-size: 13px;
    }
}
.horizontal-strip {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 85%;
    margin: 0 auto;
}

.left, .right {
    padding: 10px;
}

/* Styling for the "Learn" element on the left */
.left {
   background-color: #0074a2;   /*  Blue color */
   height: fit-content;
   text-align: center;
   margin-top: 5px;
}

/* Styling for the language buttons on the right */
.language-button {
    background-color: #ddd;
  border: none;
  color: black;
  transition: 0.3s;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
}
.language-button:hover {
    background-color: #3e8e41;
    color: white;
  }
  .language-button:active {
    background-color: #557b56;
    box-shadow: 0 5px #f3eeee;
    transform: translateY(4px);
  }

/* Adjust the space between the buttons */
.language-button:not(:last-child) {
    margin-right: 10px;
}
@media (max-width: 780px){
    .horizontal-strip{
        flex-direction: column;
    }
    .language-button{
        width:fit-content;
        margin: 0 auto;
    }

}
#message-box {
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0074a2;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: none; /* Hide by default */
}

@media (max-width: 768px) {
    #message-box {
        display: block; /* Show in mobile mode */
        position: static;
        margin-top: 20px;
        text-align: center;
    }
}
